*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 15px;
}
.box{
    border: 2px solid white;
    background: greenyellow;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    ox-shadow: 0 0 10px black;
}

p{
    margin: 3px;
    border-bottom: 2px solid white;
}